<%= form_for [@user, @idea] do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :category_id %>
    <%= f.collection_select(:category_id, Category.all, :id, :title, {:selected => "Please select"}) %>
  </p>
  <%= f.submit %>
<% end %>
